/*
note:
1:right
2:left
*/
#login-page {
  display: flex;
  flex-direction: row;
  background-color: #f3f4f6;
}
#login-page > * {
  width: 50%;
}
#login-page > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-page > div:nth-child(1) {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assests/images/background.svg");
}

#login-page > :nth-child(2) h3,
#login-page > :nth-child(2) h5 {
  margin: 5px;
  text-align: center;
}

#login-page > :nth-child(2) h5 {
  opacity: 0.5;
  font-weight: normal;
}

@media only screen and (max-width: 991px) {
  #login-page > div:nth-child(1) {
    display: none;
  }

  #login-page > :nth-child(2) {
    width: 100%;
  }
}
