.sidebar {
  background-color: var(--sidebar-color);
  width: 220px;
  display: flex;
  flex-direction: column;
}
.logo {
  height: 50px;
  color: whitesmoke;
}

@media screen and (max-width: 900px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    z-index: 1;
  }
}
